form {
    width: 42%;
    background-color: white;
    padding:1.4rem;
    padding-left: 4rem;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bolder;
    font-family: "Open Sans", sans-serif;
    color:white; 
    box-shadow: 5px 5px 5px 5px #5a6f09, 10px 10px 10px 10px #5a6f09;
}



.subcontainer {
    display: flex;
    gap:2rem;
    
}

.subcontainer-fieldset {
    display: flex;
    gap:2rem;
}

.subcontainer-address {
    display: flex;
    gap:2rem;
}

.input-subcontainer-react-selector {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
    width: 45%;
    gap:1em;
}

.input-subcontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.6rem;



    input {
        border-radius: 4px;
        border: none;
        border-bottom: 2px solid #5a6f09;
        outline: none;
        color:#93ad19;
        transition: border-bottom-color 0.3s ease-in-out;            
        height: 26px;
        background-color: white;
        font-size: 18px;
        color-scheme: dark;
        font-weight: 700;
        font-family: "Open Sans", sans-serif;
        width: 10em;

    }
    input:focus {
        border-bottom-color: #000; 
    }
}

.input-subcontainer-address {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;



    input {
        border-radius: 4px;
        border: none;
        border-bottom: 2px solid #5a6f09;
        outline: none;
        color:#93ad19;
        transition: border-bottom-color 0.3s ease-in-out;            
        height: 30px;
        background-color: white;
        font-size: 18px;
        color-scheme: dark;
        font-weight: 700;
        font-family: "Open Sans", sans-serif;
        width: 15em;

    }
    input:focus {
        border-bottom-color: #000; 
    }
}

.one-lign-container input{
    width: 50%;
}

fieldset {
    display: block;
    margin-left:-30px;
    margin-right: 1em;
    padding-block-start: 1em;
    padding-inline-start: 1.5em;
    padding-inline-end: 0em;
    padding-block-end: 0em; 
    min-inline-size: min-content;
    border-width: 2px;
    border-style: double;
    border-color: #5a6f09;
    border-image: initial;
    margin-block: 1rem;

}

select {
    width: 30%;
    height: 30px;
    background-color: #ffffff;
    font-size: 14px;
}

select:hover, input:hover {
    cursor: pointer;
    
}

.one-lign-container input {
    color-scheme: white;

}


option:hover {
    background-color: #93ad19;
}



.submit-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit-container input {
    background-color: white;
    padding-block:0.4em;
    padding-inline: 2em;
    font-size: 18px;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    border-radius: 50px;
    border: 1px solid #93ad19;
    color:#93ad19;
    transition: ease-in-out 0.4s;
    margin-top: 0px;
}

.submit-container input:hover {
    background-color: #5a6f09;
    color:white;
    cursor: pointer;
}

label, legend, span, input {
    margin-bottom: 6px;
    color:#333333;
}



.styled-select {
    .react-select__control {
      width: 100%;
      padding-inline: 10px;
      border-radius: 5px;
      font-size: 16px;
      background-color: white;
      color:#333333;
      &:hover {
        cursor: pointer;
      }
    }

  
    .react-select__option {
      padding: 10px;
      background-color: #5a6f09;
      color: white;
  
      &:hover {
        background-color: #93ad19;
        color: white;
        cursor: pointer;
      }
  
      &--is-focused {
        background-color: #93ad19;
        color: white;
      }
  
      &--is-selected {
        background-color: #93ad19;
        color:#333333;
    }
    }
  }
  

  .error-message {
    color: rgb(133, 8, 8);
    font-size: 14px;
    margin-top: 5px;
  }

 

  @media screen and (min-width: 950px) and  (max-width: 1350px) {

                
        .subcontainer-fieldset, .subcontainer-address{
            flex-direction: column;
            gap:1em;
        }

        fieldset {
            margin-right: 4em;
        }
    
  }

  
  @media screen and (min-width: 640px) and (max-width: 950px) {

                
    .subcontainer-fieldset, .subcontainer-address{
        flex-direction: column;
        gap:1em;
    }

  

    form {
        width: 60%;
    }

}
@media screen and (max-width: 640px) {

    fieldset {
        margin-right: 0px;
         padding-inline-start: 0px;
         padding-left: 0.6em;
         margin-left: -44px;
    }
    .subcontainer {
        flex-direction: column;
        gap: 0px;
    }
    .subcontainer-fieldset, .subcontainer-address{
        flex-direction: column;
        gap:1em;
    }
    
    form {
        width: 68%;
    }

    .input-subcontainer-react-selector {
   
        width: 80%;

    }

    header {
        width: 100%;
    }

}



/* SimpleReactSelector.css */
.custom-selector {
    position: relative;
    width: 90%;
    font-family: "Open Sans", sans-serif;
  }
  
  .custom-selector__selected {
    display: inline-block;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #333333;
    border-radius: 4px;
    cursor: pointer;
    color:#93ad19;
}
  
  .custom-selector__options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
#start-date, #birth-date {
    color:#93ad19;
}

  .custom-selector__option {
    padding: 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
  }
  
  .custom-selector__option:hover {
    background-color: #93ad19;
    color:#333333;
  }
  